---
layout: page
title: 博文大全
permalink: /archives/
---

{% assign lastyear = "2014" %}
{% for post in site.posts %}
{% assign currentyear = post.date | date: "%Y" %}

{% if currentyear != lastyear %}
<div class="home">
  <br>
  <h1>{{currentyear}}年度文章</h1>
  <hr><hr>
  <ul class="post-list">
{% endif %}
    
    {% include readingtime.html %}
              <a href="{{ post.url }}">
                <h3 class="article-title">{{ post.title }}</h3>
                <p class="article-date">{{ post.date | date: "%B %e, %Y" }} • 预计阅读此文需要 {{ reading_time }}</p>
                <p class="article-except"><b>内容摘要: </b>{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html | truncate: 150 }}</p>
              </a>
 {% if currentyear != lastyear %}
 {% assign lastyear = currentyear %}             
  </ul>
</div>
{% endif %}
{% endfor %}

