---
layout: default
---

<div class="home">
   
  <h1 class="page-heading">Latest Blog Posts</h1>
  <hr><hr>
  <ul class="post-list">
    {% for post in site.posts %}
    {% if forloop.index <= 10 %}
                {% include readingtime.html %}
              <a href="{{ post.url }}">
                <h3 class="article-title">{{ post.title }}</h3>
                <p class="article-date">{{ post.date | date: "%B %e, %Y" }} • 预计阅读此文需要 {{ reading_time }}</p>
                <p class="article-except"><b>内容摘要: </b>{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html | truncate: 150 }}</p>
              </a>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="home">

  <h1 class="page-heading">Posts By Categories </h1>
  <hr><hr>
  <ul class="post-category">
    {% for category in site.categories %}
    <li><a href="/archives/{{ category | first }}/">{{ category | first }}</a></li>
    {% endfor %}
  </ul>
</div>

