<footer class="site-footer">

  <div class="wrapper">

	<!-- 多说评论框 start -->
	<div class="ds-thread " data-thread-key="{{page.id}}" data-title="{{ page.title }}" data-url="{{page.url}}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"fuyajun1983cn"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icons/icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          <li>
            微信号：{{ site.wemedia_username }}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p><img src="{{site.base_url}}/images/logo_18x18.png"/>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
