<footer class="site-footer">

  <div class="wrapper">

    

	<!-- 多说评论框 start -->
	<div class="ds-thread " data-thread-key="{{page.id}}" data-title="{{ page.title }}" data-url="{{page.url}}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"fuyajun1983cn"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

   
      <!--网站访问量统计 -->
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257389209'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257389209%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257389209'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1257389209%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>


     <p class="copyright">Content ©2015 - {{ site.time | date: "%Y" }} 付亚军. Subscribe <a href="/feed.xml">via RSS</a>. 

    <p>Hosted on <a href="http://pages.github.com">GitHub Pages</a>. Design and code are open source: <a href="https://github.com/fuyajun1983cn/fuyajun1983cn.github.io">fork me</a>, or <a href="https://github.com/fuyajun1983cn/fuyajun1983cn.github.io/issues?state=open">open an issue</a>.</p>


    
  </div>

</footer>
