<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="/images/avatar.png" alt="my photo" class="avatar">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name_en }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">{{ site.resume_title_en }}</h2>
          <br>
          <ul class="reume-item-list">
            <li>Chinese Name: 付亚军</li>
            <li>Gender:  Male</li>
            <li>Birthday: Dec 17th, 1983</li>
            <li>Marital Status: Married</li>
            <li>Working life: {{site.working_life}} year</li>
            <li>Working City: Shenzhen</li>
            <li>Mobile: {{site.resume_contact_phone}}</li>
            <li>Email: {{site.resume_contact_email}}</li>
          </ul>
        </div>

        <div class="executive-summary">
          <p>Currently, I'm working as a <b>Wifi Engineer</b> and in charge of processing issues reported from our clients. My work mainly focuses on fixing bugs from  wifi chip driver and wpa_supplicant. I'm familiar with 802.11 specification, Linux network subsystem. </p>
          <p>Till now, I have {{site.working_life}} years working experience on Linux and android platform for R&D and clients support and have got familiar with C/C++/Java programming lauguages. During my previous and current job, I have gained a lot of knowledge of software porting, bug debugging, Linux System Programing and Linux driver model, here are the job posiitons that I took before:  </p>
          <ul class="resume-item-list"> 
            <li><b>Application Development Engineer</b></li>
            <li><b>Android Framework Engineer</b></li>
            <li><b>Client Support Engineer</b></li>
          </ul>
          <p>From the previous and current jobs, I have accumulated a lot of technical knowledge and advanced skills of inter personal communications. </p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">邮件联系</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Mediatek (Shenzhen) Inc/WMT76XX network card technical supporting team</h3>
          <h4 class="resume-item-details">Deputy Technical Manager/WiFi Engineer &bull; Mar 2015 &mdash; Now</h4>
          <p class="resume-item-copy">With client-oriented  in mind, I always get ready for resolving all kinds of issues reported by clients. From those experiences, I have gained a lot of field experience, also promoted my technical capabilities. In summary, I have practised the following capabilities: </p>
          <ul class="resume-item-list">
            <li>resolve field issues quickly</li>
            <li>good control under pressure</li>
            <li>good understanding of 802.11 protocols and Wifi P2P/Miracast protocols.</li>
            <li>get familiar with Linux network driver architecture and knowledge of cfg80211 module.</li>
            <li>get familiar with wpa_supplicant source code</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Mediatek (Shenzhen) Inc/BDP-OTT Client Project Team</h3>
          <h4 class="resume-item-details">Senior Software Engineer/Client Project Leader &bull; May, 2013 &mdash; Tue, 2015</h4>
          <p class="resume-item-copy">During this period, I first worked as a BDP project support engineer and were responsible for Sum Sung BDP project  issues such as JEPEG playback, Opera network application support and on-site support in Korea. One year layer, the company decided to go to the OTT market, and I took part in Xiaomi OTT project. In the project, I worked as a Project Engineer, my main responsibilities includes: following up WiFi/BT issues, system burning issues and on-site support work. I had improved the following capabilites: </p>
            <ul class="resume-item-list">
            <li>resolve on-site issues</li>
            <li>work under pressure</li>
            <li>skills to communicate with clients</li>
            <li>ability to array meetings</li>
            <li>get familiar with Android WiFi framework</li>
            <li>get familiar with Wifi and BT spec</li>
            <li>abilities to process memory leak issues</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">Meidiatek (Shenzhen) Inc/Android Smart TV team</h3>
          <h4 class="resume-item-details">Senior Software Engineer/Android OpenGL ES Engineer &bull; Jul, 2011 &mdash; Thu, 2013</h4>
          <p class="resume-item-copy">During this period, my major responsibilites includes: processing issues related to Android GUI module, OpenGL issues found in clients and mtk demo platform. maintain Mali GPU 450 driver code and working together with Arm engineers to fix bugs found in mali GPU driver. From the above work, I had improved the following capabilities: </p>
          <ul class="resume-item-list">
            <li>abilities to write English mail.</li>
            <li>get familiar with OpenGL processing techniques</li>
            <li>get familiar with Android system and Android application development</li>
            <li>get familiar with Anroid OpenGL ES Programing</li>
            <li>have a better understanding to linux kernel. </li>
          </ul>
        </div><!-- end of resume-item -->

          <div class="resume-item">
          <h3 class="resume-item-title">BYD Car Company Ltd/Platform Department </h3>
          <h4 class="resume-item-details">Senior Software Engineer/Smart TV Project Task leader &bull; Jul, 2010 &mdash; Jue, 2011</h4>
          <p class="resume-item-copy"> As the main developer, may main responsibilites incudes: 1. develop Qt Application on CE4100 Linux platform.  2. software porting, such porting Qt library.  3.  write development documents. 4.  trace other member's development status and report project progress to the manager. 5. as a co-ordinator between programmers and art designers. </p>
          <ul class="resume-item-list">
            <li>abilites to write technical documents</li>
            <li>abilities to compile and port open source code.</li>
            <li>get familiar with Qt applicaiton development.</li>
            <li>get familiar with linux system and basic kernel architecture.</li>
            <li>lead a team and be a good team player. </li>
          </ul>
        </div><!-- end of resume-item -->

           <div class="resume-item">
          <h3 class="resume-item-title">BYD Car Company Ltd/Algorithm Department</h3>
          <h4 class="resume-item-details">Senior Software Engineer//Software Developer &bull; Jue, 2009 &mdash; Jue, 2010</h4>
          <p class="resume-item-copy">As my first job position, my main task is to develop and debug supporting software used in our product: Router. During this period, I have took part in the following module developemnt and debugging work: </p>
          <ul class="resume-item-list">
            <li>debug CGI backend code for setting UI of the Router.</li>
            <li>write server side code for our local network video conference system.</li>
            <li>write client side code for wireless network access authorization system.</li>
          </ul>
          <p class="resume-item-copy">From the above projects, I had improved the following capabilites: </p>
          <ul class="resume-item-list">
            <li>get familiar with Linux system. </li>
            <li>get familiar with make and shell.</li>
            <li>get familir with linux system programming.</li>
            <li>get familiar with C/C++ programming.</li>
            </ul>
        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Hunan University</h3>
          <h4 class="resume-item-details">Master of Engineering, Computer Science and Technology  &bull; 2006 &mdash; 2009</h4>
        </div>

         <div class="resume-item">
          <h3 class="resume-item-title">Three Gorges University </h3>
          <h4 class="resume-item-details">Bachelor of Science, Information and Computing Science  &bull; 2002 &mdash; 2006</h4>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">MT76XX Network Card Projects</h3>
          <h4 class="resume-item-details">FAE &bull; 2015 &mdash; Now</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>【Description】Mainly target at domestic market, our clients include clients from MStar platform and clients from MTK platform. 。</li>
              <li>【Responsibilites】Anylize and resolve Wifi p2p/Miracast related issues, mainly focusing on bugs triggered by WiFi driver and wpa_supplicant. </li>
              <li>【Achievement】Currently, I have successfully resolved some p2p issues and still going on.。</lin>
              </ul>
          </div>
        <div class="resume-item">
          <h3 class="resume-item-title">Android Xiaomi OTT </h3>
          <h4 class="resume-item-details">CPL &bull; 2014 &mdash; 2015</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>[Description] The first MTK-solution based OTT in domestic market, which based on MT8127 hardware architecture and android 4.4 software system. 。
              <li>[Responsibilites] arrange discussion about new feature development with clients. on-site support for all kinds of issues. mainly focused on WiFi connectivity function, Miracast connectivity function and system burning issues. </li>
              <li>[Achivement] took part in processing temperature issues , Wifi Bt co-existence issues and memory leak issues.</li>
              </ul>
            </p>
          </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Android Smart TV</h3>
          <h4 class="resume-item-details">Android Engineer &bull; 2011 &mdash; 2013</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>[Description] Mainly targetd at China Mainland market, provide full-solution to the cients. Based on Anroid 2.2 and android 4.0 software architecture, equiped with MTK TV hardare. </li>
              <li>[Responsibilites] 3D Graphics modules, processing Android 3D Graphics CTS test issues，OpenGL issues reported from MTK demo board and client boards. processing issues from Mali GPU drivers. Some cutomerized feature development asked by the clients. </li>
              <li>[Achivement] I have took good control of  all kinds of issues about GPU driver and OpenGL,and not make those issues to block the project progress. </li>
            </ul>
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Network TV</h3>
          <h4 class="resume-item-details">Software Developer &bull; 2010 &mdash; 2011</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>[Description] The project is an evalution project in the company. Our target is to develop a system that can watch TV online and with a lot of other software for entertainment. More importantly, we want to add a subsystem for display a ftamily's power usage status through our Smart meters developed by our company. We use CE4100 as demo board and software architecture is Linux + Qt.</li>
              <li>[Responsibilities]<br>
                1. porting some basic softwares such as Qt, DirectFB, startup shell scripts and network softwares. <br>
2. contact hardware platform seller for basic technical support.<br>
3. Module development: Main UI architecture design, Music Player and low level software development such as drivers for remote control and gstreamer development.<br>
                4. following up other modules development status, and report whole project status to the Manager weekly. <br>
              </li>
              <li>[Achivement] With our teamwork, finally we got it running and finished the basic feature development plan, I finished Music Player development, TV living function development and family power display on the UI.</li>
              </ul>
          </p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>
        <p>The following skills come from my working experience in different job position: </p>
        <div class="resume-item">
          <h4 class="resume-item-details">Programming Languages</h4>
          <p class="resume-item-copy">From my jobs and self-teaching, I have got familiar with the following languges: </p>
          <ul class="resume-item-list">
            <li>C/C++</li>
            <li>Java(JNI)</li>
            <li>Python</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Software Development Tools</h4>
          <p class="resume-item-copy">I have used the following IDE: </p>
          <ul class="resume-item-list">
            <li>Eclipse</li>
            <li>Qt Creator</li>
            <li>Netbean</li>
            <li>Visual Studio</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Compiling Tools</h4>
          <p class="resume-item-copy">In my work, I mainly use the following compiling tools:</p>
          <ul class="resume-item-list">
            <li>make</li>
            <li>CMake</li>
            <li>Android Build System</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Applicaiton Development</h4>
          <p class="resume-item-copy">I have got familiar with the following application development: </p>
          <ul class="resume-item-list">
            <li>Android App Development</li>
            <li>Open GL ES Development</li>
            <li>Qt Development</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Platform</h4>
          <p class="resume-item-copy">I have got familiar with: </p>
          <ul class="resume-item-list">
            <li>Android</li>
            <li>Linux</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Version Control Tools</h4>
          <p class="resume-item-copy">I have mainly used the following two version control tools: </p>
          <ul class="resume-item-list">
            <li>Git </li>
            <li>Perforce</li>
        </div>
        
        <div class="resume-item">
          <h4 class="resume-item-details">Network Traffic Analysis Tools</h4>
          <p class="resume-item-copy">I have used the following two netowrk traffic analysis tools: </p>
          <ul class="resume-item-list">
            <li>Wireshark </li>
            <li>Omnipeek</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Languages</h4>
          <p class="resume-item-copy">I have used the following languages in my jobs.</p>
          <ul class="resume-item-list">
            <li>Mandaram </li>
            <li>English(can read, write, and some basic oral communication skills)</li>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Power Plant</h3>
          <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
          <p class="resume-item-copy">Awarded for stopping a nuclear meltdown, even though I also started it.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Duff Beer Customer of the year</h3>
          <h4 class="resume-item-details">1997 &mdash; 2001, 2003, 2008 &mdash; 2012</h4>
          <p class="resume-item-copy">Honored by <a href="https://en.wikipedia.org/wiki/Duff_Beer">Duff Beer</a> for being an outstanding customer several years straight. Qualifications included most beer consumed at a bar, most beer purchased, and most beer ralphed.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Moe's Patron of the Month</h3>
          <h4 class="resume-item-details">12/2001, 8/2004</h4>
          <p class="resume-item-copy">Specifically this prestigious awarded twice for stopping a robber with my belly.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Information</h2>
        </header>

        <div class="resume-item">
          <p class="resume-item-copy">These are my personal activites on the web: </p>
          <ul class="resume-item-list">
            <li><a href="http://ifjy.me">Persoanl Page(http://ifjy.me)</a></li>
            <li><a href="http://blog.csdn.net/fuyajun01">CSDN Blog(http://blog.csdn.net/fuyajun01)</a></li>
            <li><a href="https://github.com/fuyajun1983cn">GitHub Main Page(https://github.com/fuyajun1983cn)</li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}
    </div>

  </body>

</html>
