<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="/images/avatar.png" alt="my photo" class="avatar">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">{{ site.resume_title }}</h2>
          <br>
          <ul class="reume-item-list">
            <li>英文名： Jackson Fu</li>
            <li>性别：男</li>
            <li>生日：1983年10月17日</li>
            <li>婚姻状况：已婚</li>
            <li>工作年限：{{site.working_life}} 年</li>
            <li>现居城市：深圳</li>
            <li>手机：{{site.resume_contact_phone}}</li>
            <li>邮箱：{{site.resume_contact_email}}</li>
            <li>个人主页: http://ifjy.me</li>
          </ul>
        </div>

        <div class="executive-summary">
          <p>我目前是一名<b>WiFi工程师</b>，负责处理客户现场问题，主要解决WiFi驱动和wpa_supplicant等相关问题，重点支持WiFi P2P/Miracast等连接性相关的问题 。熟悉802.11相关规范，Linux网络设备驱动架构。在此之前，有如下一些岗位上的工作经历:  </p>
          <p>目前，我已经在Linux和Android平台上拥有{{site.working_life}}年的工作经验，分别做过应用程序开发，Android框架以及Linux驱动开发与维护， 客户技术支持等工作。熟悉C/C++, Java以及Python语言，并在实际工作中运用到它们。在这些工作中，我积累了许多技术经验如：开源软件编译与移植，Linux系统编程，Linux内核驱动编程以及代码维护等。如下是我以前从事过的一些工作岗位：。
          <ul class="resume-item-list">
            <li><b>应用程序开发工程师</b></li>
            <li><b>Android框架工程师</b></li>
            <li><b>客户项目支持工程师 </b></li>
          </ul>
          <p>从这些工作中，我获得了技术方面的积累以及人际沟通技能的锻炼和提升。目前希望寻找一份与上述工作经历相关的工作岗位
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">邮件联系</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>教育背景</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">湖南大学</h3>
          <h4 class="resume-item-details">工科硕士研究生学位, 计算机科学与技术  &bull; 2006 &mdash; 2009</h4>
          <p class="resume-item-copy">在学习期间，主要跟导师一起进行智能Agent方面的学术研究，发表了两篇学术论文，并通过了《基于政策分解的智能Agent机制研究》的硕士学位论文答辩。</p>
        </div>

         <div class="resume-item">
          <h3 class="resume-item-title">三峡大学</h3>
          <h4 class="resume-item-details">理学本科学位, 信息与计算科学  &bull; 2002 &mdash; 2006</h4>
          <p class="resume-item-copy">在学习期间，主要学习了数学与计算机相关的课程，并荣获过贫困生一等奖学金。在校期间，通过了英语四六级考试，计算机三级网络技术考试，并获得了软件工程师资格证书，顺利考取湖南大学公费硕士研究生。</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}


      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>职场经历</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">联发软件设计(深圳)有限公司/MT76XX网卡技术支持团队</h3>
          <h4 class="resume-item-details">技术副理/WiFi工程师 &bull; 2015年3月 &mdash; 至今</h4>
          <p class="resume-item-copy">作为以客户导向为理念的公司，我时刻准备着在客户规定的DEADLINE下解决各种各样的客户现场问题。在这样的客户支持的历练中，积累了不少实战经累，技术上也获得了提升。在以下方面获得了能力上的锻炼和提升：</p>
          <ul class="resume-item-list">
            <li>熟悉了802.11协议以及Wifi P2P/Display等无线通信相关的一些协议</li>
            <li>熟悉了Linux内核网络驱动框架，cfg80211， 以及Linux内核网络层构架相关知识</li>
            <li>熟悉了a_supplicant软件代码, 并产出了详细的学习笔记</li>
            <li>熟悉了Fi Framework代码框架</li>
            <li>熟练使用空中抓包软件以及Wireshark工具分析网络通信问题</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">联发软件设计(深圳)有限公司/BDP-OTT客户项目支持团队</h3>
          <h4 class="resume-item-details">高级工程师/客户项目工程师 &bull; 2013年5月 &mdash; 2015年2月</h4>
          <p class="resume-item-copy">在此期间，先是作为BDP项目支持工程师，负责了Sum Sung BDP项目的支持工作，承接一些模块如JPEG播放，Opera网络应用的框架层代码支持工作，并赴韩去Sum Sung客户现场技术支持。一年后，公司决定进入OTT市场，参与了OTT小米小盒子的项目支持工作，主要跟进WiFi/BT问题，系统烧机问题，并负责去小米现场支持，处理客户反馈的第一手问题。在此期间，获得了如下一些能力上的锻炼与提升：</p>
          <ul class="resume-item-list">
            <li>Qt以及DirectFB技术知识积累</li>
            <li>熟悉了Android系统整体构架, 并做过底层基础技术的学习和研究</li>
            <li>熟悉了Android WiFi框架/BT规范</li>
            <li>积累了处理内存泄漏等系统问题的技术</li>
            <li>熟悉了Git代码维护的功能</li>
            <li>锻炼了会议组织能力以及项目进度掌握能力</li>
          </ul>
        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">联发软件设计(深圳)有限公司/Android智能电视团队</h3>
          <h4 class="resume-item-details">高级工程师/Android OpenGL ES工程师 &bull; 2011年7月 &mdash; 2013年4月</h4>
          <p class="resume-item-copy">作为进入公司的第一个岗位，我第一次接触了Android系统，并熟悉了基本的Activity开发流程。在此期间，主要负责3D模块功能上的一些问题，处理公版与客户反馈的一些OpenGL相关问题，并维护Mali GPU 450的驱动代码，与Arm Mali驱动支持团队保持沟通，共同处理GPU驱动出现的问题。在此期间，获得了如下一些能力上的锻炼和提升：</p>
          <ul class="resume-item-list">
            <li>接受了Arm公司的技术培训，熟悉了OpenGL图像处理技术以及Mali GPU驱动架构</li>
            <li>熟悉了Android系统, 掌握了Android App开发方法</li>
            <li>熟练掌握了Android OpenGL ES程序编写方法</li>
            <li>加深了Linux内核知识的理解</li>
          </ul>
        </div><!-- end of resume-item -->

          <div class="resume-item">
          <h3 class="resume-item-title">比亚迪汽车股份有限公司/中央研究院平台软件部</h3>
          <h4 class="resume-item-details">高级工程师/Smart TV项目组长 &bull; 2010年7月 &mdash; 2011年6月</h4>
          <p class="resume-item-copy"> 负责Smart TV项目，作为项目组长，主导软件开发进度，定期向部门经理汇报项目进展情况。项目软件平台采用 Linux + Qt, 负责平台系统软件的移植，DirectFB遥控器驱动开发，gstreamer播放功能调试，Qt上层播放器应用程序开发， 其他成员模块功能整合，跟进组内成员开发进度，协调开发人员与美工人员工作上的配合。 在如下方面获得了能力上的锻炼与提升：</p>
          <ul class="resume-item-list">
            <li>编写文档的能力</li>
            <li>编译和移植开源软件的能力</li>
            <li>熟悉Qt应用程序开发</li>
            <li>熟悉Linux系统与内核相关知识</li>
            <li>加强了团队管理和项目管理能力</li>
          </ul>
        </div><!-- end of resume-item -->

           <div class="resume-item">
          <h3 class="resume-item-title">比亚迪汽车股份有限公司/电子研究院算法部</h3>
          <h4 class="resume-item-details">高级工程师/软件开发成员 &bull; 2009年6月 &mdash; 2010年6月</h4>
          <p class="resume-item-copy">作为毕业后的第一个工作岗位，主要任务是配合路由器开发的同事完成配套软件的开发。 在此期间，有参与过如下模块的开发与调试任务：</p>
          <ul class="resume-item-list">
            <li>路由器设置界面CGI后端C代码功能的调试</li>
            <li>局域网视频会议系统服务器端代码编写</li>
            <li>无线网络上网认证客户端代码编写</li>
          </ul>
          <p class="resume-item-copy">通过这些项目实践经历，获得了如下方面能力上的锻炼与提升：</p>
          <ul class="resume-item-list">
            <li>熟悉了Linux系统与网络编辑</li>
            <li>熟悉了make编译工具以及bash脚本语言</li>
            <li>熟悉了C/C++编程语言</li>
            </ul>
        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}


      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>项目经历</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">MT76XX网卡项目</h3>
          <h4 class="resume-item-details">WiFi驱动工程师 &bull; 2015 &mdash; 至今</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>【项目描述】主要针对国内市场，服务的客户主要是MTK方案的TV客户项目，MStar方案的TV项目，以及一些第三方方案商的客户项目。</li>
              <li>【项目职责】协助客户进行WiFi驱动移植工作，解决WiFi功能性Bug以及产测工具的Bug。</li>
              <li>【项目业绩】帮助客户完成WiFi驱动的移植，到最终产品的量产。</lin>
              </ul>
          </div>
        <div class="resume-item">
          <h3 class="resume-item-title">Android OTT小米小盒子</h3>
          <h4 class="resume-item-details">CPL &bull; 2014 &mdash; 2015</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>【项目描述】国内OTT盒子开发的第一个客户项目，硬件基于MT8127芯片，软件基于Android 4.4，着力帮助客户打造一款小而精的家庭娱乐小盒子。
              <li>【项目职责】从前期与客户针对一些功能开发的沟通讨论，到后期去客户现场技术支持，一直处于项目支持的第一线。重点跟进的模块和功能主要有：WiFi连接性问题，Miracast连接性功能以及WiDi认证相关问题；蓝牙遥控器连接性问题; 系统烧机问题。</li>
              <li>【项目业绩】顶住客户量产压力，协助团队一起解决了发热问题、WiFi/BT共存问题以及各种死机与内存泄漏等问题。</li>
              </ul>
            </p>
          </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Android智能电视</h3>
          <h4 class="resume-item-details">Android工程师 &bull; 2011 &mdash; 2013</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>【项目描述】针对中国大陆智能电视市场，为客户提供的Android智能电视解决方案。项目软件基于Android2.2和4.0,硬件采用MTK平台，为客户提供全方面的技术支持直到顺利量产。</li>
              <li>【项目职责】主要负责3D Graphics模块，负责处理Android 3D Graphics CTS测试问题，公版和客户平台上报的3D图形渲染相关的问题，Mail GPU驱动相关问题的沟通与处理，以及一些临时需求的开发。 
负责的模块有：gralloc模块， OpenGL， 
Mali GPU Driver代码的维护。</li>
              <li>【项目业绩】较好地处理了公版和客户平台报出的3D应用方面的问题以及GPU驱动的一些问题，确保了客户平台顺利量产。</li>
            </ul>
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">网络电视</h3>
          <h4 class="resume-item-details">软件开发工程师 &bull; 2010 &mdash; 2011</h4>
          <p class="resume-item-copy">
            <ul class="resume-item-list">
              <li>【项目描述】内部项目名为：Smart TV项目， 硬件平台采用CE4100， 软件采用Linux + Qt，为公司内部项目，目标是完成基本的功能原型开发：包括电视直播，回看，本地音乐视频播放，网络视频播放，以及家庭电能管理模块。</li>
              <li>【项目职责】项目主要开发人员<br>
                1. 负责系统平台一些基本软件的移植，如Qt移植，DirectFB的移植。系统启动脚本的修改，网络功能移植等等。 <br>
2. 负责联系平台代理商寻求必要的技术支持。 <br>
3. 负责一些软件模块的开发：主要采用Qt作为应用程序框架， 负责上层部分应用程序的开发（如音乐播放器等）以及底层相关系统软件的开发（如DirectFB遥控器驱动开发，gstreamer开发等） <br>
                4. 跟进其他模块开发的进度，负责向部门经理汇报项目进展情况。<br>
              </li>
              <li>【项目业绩】完成系统预期功能的开发。</li>
              </ul>
          </p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>基本技能</h2>
        </header>
        <p>以下技能来源于不同时期工作岗位上的实际经验：</p>
        <div class="resume-item">
          <h4 class="resume-item-details">编程语言</h4>
          <p class="resume-item-copy">在工作和自我学习过程中，主要熟悉了如下一些语言：</p>
          <ul class="resume-item-list">
            <li>C/C++</li>
            <li>Java(JNI)</li>
            <li>Python</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">软件开发工具</h4>
          <p class="resume-item-copy">总体来讲，主要接触了如下一些集成开发工具： </p>
          <ul class="resume-item-list">
            <li>Eclipse</li>
            <li>Qt Creator</li>
            <li>Netbean</li>
            <li>Visual Studio</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">编译工具</h4>
          <p class="resume-item-copy">在工作中，主要使用了如下几种编译工具：</p>
          <ul class="resume-item-list">
            <li>make</li>
            <li>CMake</li>
            <li>Android Build System</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">应用开发</h4>
          <p class="resume-item-copy">在工作中，主要锻炼了如下程序开发能力：</p>
          <ul class="resume-item-list">
            <li>Android App开发</li>
            <li>Open GL ES开发</li>
            <li>Qt开发</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">平台经验</h4>
          <p class="resume-item-copy">在工作中，主要熟悉了如下一些平台经验：</p>
          <ul class="resume-item-list">
            <li>Android</li>
            <li>Linux</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">版本控制工具</h4>
          <p class="resume-item-copy">在工作中，主要用到了如下两种版本工具：</p>
          <ul class="resume-item-list">
            <li>Git </li>
            <li>Perforce</li>
        </div>
        
        <div class="resume-item">
          <h4 class="resume-item-details">网络分析工具</h4>
          <p class="resume-item-copy">在工作中，主要用到了如下两个数据包分析工具：</p>
          <ul class="resume-item-list">
            <li>Wireshark </li>
            <li>Omnipeek</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">个人偏好工具</h4>
          <p class="resume-item-copy">在工作中，个人偏好使用的工具如下：</p>
          <ul class="resume-item-list">
            <li>Emacs(主要使用Org-Mode进行任务跟踪以及重要信息的记录) </li>
            <li>Vim(编写程序)</li>
             <li>Notepad++(查看Log)</li>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">语言</h4>
          <p class="resume-item-copy">在工作中，主要锻炼了如下语言能力：</p>
          <ul class="resume-item-list">
            <li>普通话 </li>
            <li>英文(无障碍阅读英文技术文档，撰写英文邮件(技术文档)以及日常工作沟通)</li>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Power Plant</h3>
          <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
          <p class="resume-item-copy">Awarded for stopping a nuclear meltdown, even though I also started it.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Duff Beer Customer of the year</h3>
          <h4 class="resume-item-details">1997 &mdash; 2001, 2003, 2008 &mdash; 2012</h4>
          <p class="resume-item-copy">Honored by <a href="https://en.wikipedia.org/wiki/Duff_Beer">Duff Beer</a> for being an outstanding customer several years straight. Qualifications included most beer consumed at a bar, most beer purchased, and most beer ralphed.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Moe's Patron of the Month</h3>
          <h4 class="resume-item-details">12/2001, 8/2004</h4>
          <p class="resume-item-copy">Specifically this prestigious awarded twice for stopping a robber with my belly.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>附加信息</h2>
        </header>

        <div class="resume-item">
          <p class="resume-item-copy">以下网站是我在学习和工作过程中留下的一些脚印，欢迎访问：</p>
          <ul class="resume-item-list">
            <li><a href="http://blog.ifjy.me">个人博客网站（http://blog.ifjy.me）</a></li>
            <li><a href="http://blog.csdn.net/fuyajun01">CSDN博客主页（http://blog.csdn.net/fuyajun01）</a></li>
            <li><a href="https://github.com/fuyajun1983cn">GitHub个人主页（https://github.com/fuyajun1983cn）</li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}
    </div>

  </body>

</html>
